.wrapper {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tasks__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(53, 52, 52, 0.688);
}

.wrapper ul {
    margin: 0;
    padding: 0;
}

.wrapper span {
    height: 37px; 
}

.wrapper label {
    margin: 0px;
}

.wrapper label span:last-child {
    display: none;
}

.flexbox {
    display: flex;
    flex-direction: row;
    height: 37px;
}

.wrapper__text {
    height: 37px;
    display: flex;
}

.task__text {
    margin: 0;
    display: flex;
    align-items: center;
}

.task__text__cmpltd {
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration: line-through;
    opacity: 60%;
}
