.counter__item {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    color: black;
    opacity: 60%;
    font-weight: 400;
    letter-spacing: 0px;
}

.counter__item p {
    width: 71px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 320px;
    border-top: 1px solid rgba(122, 119, 119, 0.474);
    height: 40px;
    font-size: 13px;
}

.clear__completed {
    width: 120px;
    margin-left: 37px;
    margin-right: 10px;
}
.clear__completed button {
    text-decoration: none;
    color: rgba(53, 52, 52, 0.688);
    font-weight: 400;
    letter-spacing: 0px;
    padding: 0;
    display: flex;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

.clear__completed button:hover {
    color: rgb(2, 88, 186);
}
.clear__completed button:active {
    text-shadow: none;
    color: rgba(53, 52, 52, 0.688);
}

@media (max-width: 499px) {
    .wrapper {
        font-size: 12px;
    }
    .counter__item {
        margin-left: 5px;
        font-size: 10px;
    }
    .clear__completed {
        margin-left: 40px;
        width: 80px;
    }
    .clear__completed button {
        font-size: 10px;
        width: 60px;
    }
}