.flexbox {
    display: flex;
}

.input__ui {
    display: flex;
}

.wrapper {
    margin-left: 5px;
}

.wrapper input {
    width: 340px;
    height: 22px;
    background-color: inherit;
}

.wrapper button {
    height: 39px;
    color: rgba(53, 52, 52, 0.688);
    background-color: inherit;
    border: 1px solid rgba(122, 119, 119, 0.474);
    border-radius: 3px;
    margin: 0 5px 0 2px;
}

.wrapper button:hover {
    border: 1px solid rgba(33, 32, 32, 0.474);
    box-shadow: 0px 0px 3px rgba(199, 194, 194, 0.588);
}

.wrapper button:active {
    background-color: rgba(199, 194, 194, 0.588);
    box-shadow: none;
}

@media (max-width: 499px) {
    .wrapper span {
        font-size: 10px;
        line-height: 1.4;
    }
    .wrapper label {
        font-size: 14px;
    }
}