.flexbox {
    display: flex;
}

.input__ui {
    display: flex;
}

.wrapper input {
    width: 345px;
    height: 20px;
    background-color: inherit;
    border: 1px solid rgba(122, 119, 119, 0.474);
    border-radius: 3px;
}

.wrapper input:focus{
    outline: none;
    background-color: rgba(237, 232, 232, 0.588);
    border: 1px solid rgba(53, 52, 52, 0.474);
}

.wrapper button {
    height: 39px;
    color: rgba(53, 52, 52, 0.688);
    background-color: inherit;
    border: 1px solid rgba(122, 119, 119, 0.474);
    border-radius: 3px;
    margin-left: 3px;
}

.wrapper button:hover {
    border: 1px solid rgba(33, 32, 32, 0.474);
    box-shadow: 0px 0px 3px rgba(199, 194, 194, 0.588);
}

.wrapper button:active {
    background-color: rgba(199, 194, 194, 0.588);
    box-shadow: none;
}