@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Open+Sans:ital,wght@0,300;1,400&display=swap');

.app {
    background-color: rgb(245, 245, 245);
    width: 100vw;
    height: 100vh;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: top;
}

.title {
    color: rgb(232, 217, 216);
    font-weight: 500;
    letter-spacing: -3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    padding-top: 30px;
}

.wrapper__app {
    background-color: white;
    width: content;
    height: content;
    min-width: 400px;
    width: 500px;
    border: 1px solid rgb(217, 217, 217);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 2px 6px rgba(0, 0, 0, 0.1),
        0px 4px 10px rgba(0, 0, 0, 0.1);
}