.active {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    opacity: 60%;
    font-weight: 400;
    letter-spacing: 0px;
    border: 1px solid rgba(122, 119, 119, 0.474);
    border-radius: 3px;
    padding: 0 3px 0 3px ;
}

.counter__item {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    color: black;
    opacity: 60%;
    font-weight: 400;
    letter-spacing: 0px;
}

.counter__item p {
    width: 71px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-left: 69px;
}

.active:hover {
    box-shadow: 0px 0px 2px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 320px;
    border-top: 1px solid rgba(122, 119, 119, 0.474);
    height: 40px;
    font-size: 13px;
}

.item {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    opacity: 60%;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 0 4px 0 4px ;
}
.clear__completed {
    width: 120px;
    margin-left: 37px;
    margin-right: 10px;
}
.clear__completed button {
    text-decoration: none;
    color: rgba(53, 52, 52, 0.688);
    font-weight: 400;
    letter-spacing: 0px;
    padding: 0;
    display: flex;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

.clear__completed button:hover {
    text-shadow: 0px 0px 1px rgba(147, 146, 146, 0.688);;
}
.clear__completed button:active {
    text-shadow: none;
}

.item:hover {
    background-color: rgba(199, 194, 194, 0.588);
    border-radius: 3px;
}

@media (max-width: 499px) {
    .wrapper {
        font-size: 12px;
    }
    .active {
        margin-right: 10px;
    }
    .counter__item {
        margin-left: 5px;
        font-size: 10px;
    }
    .nav {
        margin-left: 30px;
    }
    .item {
        margin-right: 10px;
    }
    .clear__completed {
        margin-left: 40px;
        width: 80px;
    }
    .clear__completed button {
        font-size: 10px;
        width: 60px;
    }
}