.active {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    opacity: 60%;
    font-weight: 400;
    letter-spacing: 0px;
    border: 1px solid rgba(122, 119, 119, 0.474);
    border-radius: 3px;
    padding: 0 3px 0 3px ;
}

.counter__item {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    color: black;
    padding: 0 3px 0 3px;
    opacity: 60%;
    font-weight: 400;
    letter-spacing: 0px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-left: 70px;
}

.active:hover {
    box-shadow: 0px 0px 2px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(122, 119, 119, 0.474);
    height: 40px;
    font-size: 13px;
}

.item {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    opacity: 60%;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 0 4px 0 4px ;
}

.clear__completed button {
    text-decoration: none;
    color: rgba(53, 52, 52, 0.688);
    font-weight: 400;
    letter-spacing: 0px;
    padding: 0 4px 0 4px ;
    display: flex;
    margin-left: 40px;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

.clear__completed button:hover {
    text-shadow: 0px 0px 1px rgba(147, 146, 146, 0.688);;
}
.clear__completed button:active {
    text-shadow: none;
}

.item:hover {
    background-color: rgba(199, 194, 194, 0.588);
    border-radius: 3px;
}